<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile"
    xmlns:gui="http://axonivy.com/gui/components">
	<h:head>
		<h:outputScript library="ivy-webcontent" name="/resources/libs/lodash.min.js" />
		<h:outputScript library="ivy-webcontent" name="/resources/libs/jquery-blockUI.js" />
		<h:outputScript library="ivy-webcontent" name="/resources/js/fintechHandlingComponent.js" />
	</h:head>
	<h:body>
		<h:form id="form">
			<gui:eventListeners rulesPackage="dm" dataModel="#{data.debtorManagement}" dialogData="#{data}" 
				configurationFile="gui-fw-config-debtor-manage"/>
			
			<p>
				Debtor Management
			</p>
			
			<table>
			  <tr>
			    <td valign="top">
					<ic:hellogui.component.DebtorComponent
						dataModel="#{data.debtorManagement.debtor}"
						title="Debtor"
						/>
			    </td>
			    
			    <td valign="top">
					<ic:hellogui.component.DebtorComponent
						dataModel="#{data.debtorManagement.partner}"
						title="Partner"
						/>
			    </td>
			   </tr>
		   	</table>
			
			<ic:hellogui.component.AddressComponent
				dataModel="#{data.debtorManagement.address}"
				/>
			
		</h:form>
	</h:body>
</html>