<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile"
    xmlns:gui="http://axonivy.com/gui/components">
	<h:body>
		<h:form id="form">
			<p:commandButton value="Edit" actionListener="#{logic.edit}"/>
			<p:commandButton value="Readonly" actionListener="#{logic.readonly}"/>
		</h:form>
	</h:body>
</html>