<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"      
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ic="http://ivyteam.ch/jsf/component"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:gui="http://axonivy.com/gui/components">
      
  <cc:interface componentType="IvyComponent">
  	<cc:attribute name="dataModel"/>
  </cc:interface>
  
  <cc:implementation>
  	<p>
  		Address Component
  	</p>
    
  	<p:outputPanel id="addressComponent">
  		<gui:eventListeners dataModel="#{data.address}" dialogData="#{data}" />
	    
	    <p:outputLabel for="street" value="Street"/>
	    <p:inputText id="street" value="#{data.address.street}"/>
  	</p:outputPanel>
    
  </cc:implementation>
</html>