<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile"
    xmlns:gui="http://axonivy.com/gui/components">
	<h:head>
		<h:outputScript library="ivy-webcontent" name="/resources/libs/lodash.min.js" />
		<h:outputScript library="ivy-webcontent" name="/resources/libs/jquery-blockUI.js" />
		<h:outputScript library="ivy-webcontent" name="/resources/js/fintechHandlingComponent.js" />
	</h:head>
	<h:body>
		<h:form id="form">
			<gui:eventListeners rulesPackage="lr" dataModel="#{data.leaveRequest}" dialogData="#{data}" />
				
				<p:outputLabel id="nameFieldLabel" for="nameField" value="Name:"/>
				<p:inputText id="nameField" value="#{data.leaveRequest.name}"/>
				
				<p:outputLabel id="ageFieldLabel" for="ageField" value="Age:"/>
				<p:inputNumber id="ageField" value="#{data.leaveRequest.age}"/>
				
				<p:outputLabel id="startDateFieldLabel" for="startDateField" value="Start Date:"/>
				<p:calendar id="startDateField" value="#{data.leaveRequest.startDate}"/>
				
				<p:outputLabel id="endDateFieldLabel" for="endDateField" value="End Date:"/>
				<p:calendar id="endDateField" value="#{data.leaveRequest.endDate}"/>
				
				<p:commandButton id="submit" value="Submit"/>
		</h:form>
	</h:body>
</html>