<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"      
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ic="http://ivyteam.ch/jsf/component"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:pm="http://primefaces.org/mobile"
    xmlns:gui="http://axonivy.com/gui/components">
      
  <cc:interface componentType="IvyComponent">
  	<cc:attribute name="dataModel"/>
  	<cc:attribute name="title"/>
  </cc:interface>
  
  <cc:implementation>
  	<p>
  		#{cc.attrs.title}
  	</p>
    
  	<p:outputPanel id="debtorComponent">
  		<gui:eventListeners dataModel="#{data.debtor}" dialogData="#{data}" />
	    
	    <p:outputLabel for="name" value="Name"/>
	    <p:inputText id="name" value="#{data.debtor.name}"/>
	    
	    <p:outputLabel for="age" value="Age"/>
	    <p:inputNumber id="age" value="#{data.debtor.age}"/>
	    
	    <p:outputLabel for="isHavingPartner" value="Is Having Partner"/>
	    <p:selectBooleanCheckbox id="isHavingPartner" value="#{data.debtor.isHavingPartner}"/>
  	</p:outputPanel>
    
  </cc:implementation>
</html>